<h1>Check out our products!</h1>

<div class="row product-list">
  <% @products.each do |product| %>
     <article class="product"  data-prod = <%= product.id%>>
      <h2>
        <%= product.name %>
      </h2>
      <p>
        <%= product.description %>
      </p>
      <strong>
       <div class="text-data"  id="prod_cur_<%= product.id%>"> <%= product.price %>&nbsp;<label>EUR</label>
        &nbsp;&nbsp;&nbsp;
        <%= link_to 'Show more', product %>
      </strong>
    </article>
  <% end %>
</div>

