<div class="row product-list">
  <article class="product"  data-prod = <%= @product.id%>>
    <h2>
      <%= @product.name %>
    </h2>
    <p>
      <%= @product.description %>
    </p>
   
    <div class="text-data"  id="prod_cur_<%= @product.id%>"> <strong> <%= @product.price %>&nbsp;<label>EUR</label>
       <%= link_to 'back to product list', products_path %>
      </strong>
    </div>
  </article>
</div>


