!!!
%html
%head>
  %title 3scale marketplace
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  = csrf_meta_tags

%body
  %main.container
    
    = yield
  %footer.footer
    %div.footer_content
      %div{:style => "padding: 2rem;"}
        %p @2015 by you
      %div{:style => "padding: 2rem;"}
        = select_tag "Change Currency", options_from_collection_for_select(@currency,'name','name'),:include_blank => true
     
